.book-animation-container {
  width: 640px;
  height: 360px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.page {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #797979;
  border-radius: 4px;
  box-sizing: border-box;
  backface-visibility: hidden;
  transform-origin: left center;
  transform: rotateY(0deg);
  transition: transform 0.3s ease;
}

.page-left {
  left: 0;
  transform-origin: right center;
}

.page-right {
  left: 50%;
}

.flipped-page {
  transform: rotateY(-180deg);
}

.active-page {
  z-index: 999 !important;
  transform: rotateY(0deg) !important;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  word-break: keep-all;
  line-height: 1.5;
}