.category-selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  text-align: center;
  font-family: "Jua", sans-serif;
}

.emoji-image,
.selected-image {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.category-card {
  width: 220px;          /* 더 넓게 */
  height: 260px;         /* 더 높게 */
  background-color: #fff7d6;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: fadeInPop 0.5s ease;
  transition: transform 0.2s ease;
}

.category-card:hover {
  transform: scale(1.07);
}

.emoji {
  font-size: 80px;
  margin-bottom: 20px;
}

.label {
  font-size: 22px;
}

.category-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInPop 0.5s ease;
}

.selected-emoji,
.selected-image {
  width: 130px;
  height: 130px;
  animation: emojiBounce 1.2s ease forwards;
}

.category-transition-text {
  margin-top: 50px;
  font-size: 20px;
  color: #444;
  opacity: 0;
  animation: messageFadeIn 1s ease forwards;
  animation-delay: 0.6s;
}

.fortune-open{
  height: 90%;
  width: auto;
}

@keyframes fadeInPop {
  0% {
    transform: scale(0.5) rotate(-10deg);
    opacity: 0;
  }
  60% {
    transform: scale(1.1) rotate(3deg);
    opacity: 1;
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes emojiBounce {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(10deg);
  }
  50% {
    transform: scale(1.5) rotate(-10deg);
  }
  75% {
    transform: scale(1.3) rotate(5deg);
  }
  100% {
    transform: scale(1.4) rotate(0deg);
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fortune-crack-container {
  position: relative;
  width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fortune-half {
  width: 50%;
  height: auto;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.left-half {
  transform: translateX(0);
  animation: crack-left 0.8s forwards;
}

.right-half {
  transform: translateX(0);
  animation: crack-right 0.8s forwards;
}

@keyframes crack-left {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-20px) rotate(-10deg);
    opacity: 1;
  }
}

@keyframes crack-right {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(20px) translateY(20px) rotate(10deg);
    opacity: 1;
  }
}

