html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: bold;
  font-style: normal;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 6%;
}

.phrase-text {
  margin: 0;
}

.animation-content {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-fortune-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}

.other-fortune-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45%;
  width: 300px;
}

.re-start-button {
  text-decoration: none;
}

.other-fortune-button p {
  font-size: 145%;
  margin-top: 8%;
}

/* book */
.book-content {
  width: 630px;
  height: 360px;
  position: relative;
  overflow: visible;
}

.book-cover {
  position: absolute;
  top: 0;
  height: 101%;
  border-radius: 5px;
  background: #456fbd;
  z-index: 0;
  width: 100%;
}

.book-cover.book-cover-left {
  left: 2%;
}

.book-cover.book-cover-right {
  right: 2%;
}

.book-page-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  height: 99%;
}

.book-page {
  width: 50%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #797979;
  border-radius: 4px;
  display: grid;
  place-items: center;
}

.book-fortune {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

/* fortune */
.fortune-content {
  position: relative;
  width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fortune-half {
  width: 50%;
  height: auto;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.left-half {
  transform: translateX(0);
  animation: crack-left 0.8s forwards;
}

.right-half {
  transform: translateX(0);
  animation: crack-right 0.8s forwards;
}

@keyframes crack-left {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-20px) rotate(-10deg);
    opacity: 1;
  }
}

@keyframes crack-right {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateX(20px) translateY(20px) rotate(10deg);
    opacity: 1;
  }
}

/* lucky */
.card-content {
  width: 34%;
  height: 82%;
  background: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d2d2d;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.number-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: fadeIn 1s ease-in;
  margin-bottom: 30px;
}

/* taro */
.taro-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5%;
}

.taro-image {
  width: 210px;
  height: 325px;
  border-radius: 6px;
  animation: floatImage 2.5s ease-in-out infinite;
  box-shadow: 0px 0px 10px 5px #bc2aff49;
}

.taro-fortune {
  display: flex;
  align-items: center;
  width: 30%;
  height: 40%;
  font-size: 130%;
  line-height: 1.5;
  padding: 0;
}

/* weather */
@keyframes floatImage {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.weather-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3%;
}

.weather-image-content .weather-fortune-content {
  display: grid;
  place-items: center;
}

.weather-image {
  height: auto;
  width: 90%;
  animation: floatImage 2.5s ease-in-out infinite;
}

.weather-fortune {
  height: 100%;
  width: 25%;
  margin: 0;
  font-size: 20px;
}

@media (max-width: 440px) {
  .container {
    height: 100vh;
    row-gap: 10%;
    overflow: scroll;
  }
  .phrase-text {
    font-size: 27px;
    width: 80%;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
  }
  .animation-content {
    height: 40%;
  }
  .other-fortune-button-content {
    height: auto;
  }
  .other-fortune-button {
    height: 50px;
  }

  /* book */
  .book-content {
    width: 300px;
    height: 50%;
  }

  .book-fortune {
    color: #333;
    font-weight: bold;
    font-size: 12px;
    width: 90%;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
  }

  /* taro */
  .taro-container {
    row-gap: 7%;
  }

  .taro-animation-content {
    height: auto;
  }

  .taro-content {
    flex-direction: column;
    row-gap: 30px;
  }

  .taro-image {
    width: 150px;
    height: 225px;
    border-radius: 3px;
  }

  .taro-fortune {
    display: flex;
    align-items: center;
    width: 70%;
    height: auto;
    line-height: 1.5;
    padding: 0;
    font-size: 18px;
  }

  .taro-fortune-text {
    font-weight: lighter;
    font-size: 17px;
    margin: 6% 0 0;
  }

  /* fortune */
  .fortune-content {
    width: 250px;
  }

  .fortune-half {
    width: 50%;
  }

  /* lucky */
  .card-content {
    width: 70%;
    height: 45%;
    font-size: 15px;
    border-radius: 15px;
  }

  .number-container {
    margin: 0;
    row-gap: 25px;
  }

  .card-text {
    margin: 0;
  }

  .lucky-number-list {
    width: 100%;
    margin: 0;
  }

  .lucky-number-ball {
    width: 30px;
    height: 30px;
    font-size: 15px;
    font-weight: lighter;
  }

  /* weather */

  .weather-animation-content {
    height: auto;
  }

  .weather-content {
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;
  }

  .weather-image-content {
    display: grid;
    place-items: center;
  }

  .weather-image {
    height: auto;
    width: 55%;
  }

  .weather-fortune {
    display: flex;
    align-items: center;
    width: 70%;
    height: auto;
    line-height: 1.5;
    padding: 0;
    font-size: 18px;
  }
}
