.card-list {
  position: relative;
}

.taro-animation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2%;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes moveLeftBig {
  0% {
    transform: translate(-50%, -50%);
    width: 210px;
    height: 325px;
  }
  100% {
    transform: translate(-620px, 50px) rotate(-25deg);
    width: 170px;
    height: 265px;
  }
}

.card {
  display: flex;
  position: absolute;
  width: 210px;
  height: 325px;
  perspective: 1000px;
  cursor: pointer;
  top: 48%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  z-index: 1;
  animation: moveLeftBig 1.5s 0.3s ease forwards;
  transition: all 0.2s ease;
  animation-fill-mode: forwards;
  border-radius: 6px;

  &.click-card {
    &:not(.selected-card) {
      transition: opacity 0.5s ease;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.enable-hover {
  transition: all 0.2s ease;
  top: 0;
  left: 0;

  &:hover {
    transition: all 0.2s ease;
    top: -60px;
  }
  &.card-num0 {
    &:hover {
      left: -27px;
    }
  }
  &.card-num1 {
    &:hover {
      left: -25px;
    }
  }
  &.card-num2 {
    &:hover {
      left: -20px;
    }
  }
  &.card-num3 {
    &:hover {
      left: -18px;
    }
  }
  &.card-num4 {
    &:hover {
      left: -14px;
    }
  }
  &.card-num5 {
    &:hover {
      left: -11px;
    }
  }
  &.card-num6 {
    &:hover {
      left: -8px;
    }
  }
  &.card-num7 {
    &:hover {
      left: -4px;
    }
  }
  &.card-num8 {
    &:hover {
      left: -2px;
    }
  }
  &.card-num13 {
    &:hover {
      left: 2px;
    }
  }
  &.card-num14 {
    &:hover {
      left: 4px;
    }
  }
  &.card-num15 {
    &:hover {
      left: 7px;
    }
  }
  &.card-num16 {
    &:hover {
      left: 10px;
    }
  }
  &.card-num17 {
    &:hover {
      left: 14px;
    }
  }
  &.card-num18 {
    &:hover {
      left: 17px;
    }
  }
  &.card-num19 {
    &:hover {
      left: 21px;
    }
  }
  &.card-num20 {
    &:hover {
      left: 24px;
    }
  }
  &.card-num21 {
    &:hover {
      left: 28px;
    }
  }
}

.enable-hover > .card-inner > .card-back {
  box-shadow: none;
  transform: rotate(0deg) rotateY(180deg);
  transition: all 0.2s ease;
}

.enable-hover:hover > .card-inner > .card-back {
  box-shadow: 0px 0px 10px 10px #bb2aff76;
  transform: rotate(0deg) rotateY(180deg);
  transition: all 0.2s ease;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.9s;
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(0deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 6px;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fortune-message {
  opacity: 0;
  animation: fadeInText 1s ease forwards;
  animation-delay: 1.3s;
}

.selected-card0 {
  animation: moveCard0 2.7s ease-in-out forwards !important;
}
.selected-card1 {
  animation: moveCard1 2.7s ease-in-out forwards !important;
}
.selected-card2 {
  animation: moveCard2 2.7s ease-in-out forwards !important;
}
.selected-card3 {
  animation: moveCard3 2.7s ease-in-out forwards !important;
}
.selected-card4 {
  animation: moveCard4 2.7s ease-in-out forwards !important;
}
.selected-card5 {
  animation: moveCard5 2.7s ease-in-out forwards !important;
}
.selected-card6 {
  animation: moveCard6 2.7s ease-in-out forwards !important;
}
.selected-card7 {
  animation: moveCard7 2.7s ease-in-out forwards !important;
}
.selected-card8 {
  animation: moveCard8 2.7s ease-in-out forwards !important;
}
.selected-card9 {
  animation: moveCard9 2.7s ease-in-out forwards !important;
}
.selected-card10 {
  animation: moveCard10 2.7s ease-in-out forwards !important;
}
.selected-card11 {
  animation: moveCard11 2.7s ease-in-out forwards !important;
}
.selected-card12 {
  animation: moveCard12 2.7s ease-in-out forwards !important;
}
.selected-card13 {
  animation: moveCard13 2.7s ease-in-out forwards !important;
}
.selected-card14 {
  animation: moveCard14 2.7s ease-in-out forwards !important;
}
.selected-card15 {
  animation: moveCard15 2.7s ease-in-out forwards !important;
}
.selected-card16 {
  animation: moveCard16 2.7s ease-in-out forwards !important;
}
.selected-card17 {
  animation: moveCard17 2.7s ease-in-out forwards !important;
}
.selected-card18 {
  animation: moveCard18 2.7s ease-in-out forwards !important;
}
.selected-card19 {
  animation: moveCard19 2.7s ease-in-out forwards !important;
}
.selected-card20 {
  animation: moveCard20 2.7s ease-in-out forwards !important;
}
.selected-card21 {
  animation: moveCard21 2.7s ease-in-out forwards !important;
}

@keyframes moveCard0 {
  0% {
    transform: translate(-620px, 50px) rotate(-25deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard1 {
  0% {
    transform: translate(-570px, 15px) rotate(-22deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard2 {
  0% {
    transform: translate(-520px, -15px) rotate(-19deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard3 {
  0% {
    transform: translate(-470px, -40px) rotate(-16deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard4 {
  0% {
    transform: translate(-420px, -60px) rotate(-13deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard5 {
  0% {
    transform: translate(-370px, -77px) rotate(-10deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard6 {
  0% {
    transform: translate(-320px, -90px) rotate(-7deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard7 {
  0% {
    transform: translate(-270px, -100px) rotate(-4deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard8 {
  0% {
    transform: translate(-220px, -107px) rotate(-2deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard9 {
  0% {
    transform: translate(-170px, -110px) rotate(-1deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard10 {
  0% {
    transform: translate(-120px, -113px) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard11 {
  0% {
    transform: translate(-70px, -114px) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard12 {
  0% {
    transform: translate(-20px, -110px) rotate(1deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard13 {
  0% {
    transform: translate(30px, -107px) rotate(2deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard14 {
  0% {
    transform: translate(80px, -100px) rotate(4deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard15 {
  0% {
    transform: translate(130px, -90px) rotate(7deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard16 {
  0% {
    transform: translate(180px, -77px) rotate(10deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard17 {
  0% {
    transform: translate(230px, -60px) rotate(13deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard18 {
  0% {
    transform: translate(280px, -40px) rotate(16deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard19 {
  0% {
    transform: translate(330px, -15px) rotate(19deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard20 {
  0% {
    transform: translate(380px, 15px) rotate(22deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}
@keyframes moveCard21 {
  0% {
    transform: translate(430px, 50px) rotate(25deg);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(-140%, -50%);
  }
}

@keyframes ani0 {
  100% {
    transform: translate(-620px, 50px) rotate(-25deg);
  }
}
@keyframes ani1 {
  100% {
    transform: translate(-570px, 15px) rotate(-22deg);
  }
}
@keyframes ani2 {
  100% {
    transform: translate(-520px, -15px) rotate(-19deg);
  }
}
@keyframes ani3 {
  100% {
    transform: translate(-470px, -40px) rotate(-16deg);
  }
}
@keyframes ani4 {
  100% {
    transform: translate(-420px, -60px) rotate(-13deg);
  }
}
@keyframes ani5 {
  100% {
    transform: translate(-370px, -77px) rotate(-10deg);
  }
}
@keyframes ani6 {
  100% {
    transform: translate(-320px, -90px) rotate(-7deg);
  }
}
@keyframes ani7 {
  100% {
    transform: translate(-270px, -100px) rotate(-4deg);
  }
}
@keyframes ani8 {
  100% {
    transform: translate(-220px, -107px) rotate(-2deg);
  }
}
@keyframes ani9 {
  100% {
    transform: translate(-170px, -110px) rotate(-1deg);
  }
}
@keyframes ani10 {
  100% {
    transform: translate(-120px, -113px) rotate(0deg);
  }
}
@keyframes ani11 {
  100% {
    transform: translate(-70px, -114px) rotate(0deg);
  }
}
@keyframes ani12 {
  100% {
    transform: translate(-20px, -110px) rotate(1deg);
  }
}
@keyframes ani13 {
  100% {
    transform: translate(30px, -107px) rotate(2deg);
  }
}
@keyframes ani14 {
  100% {
    transform: translate(80px, -100px) rotate(4deg);
  }
}
@keyframes ani15 {
  100% {
    transform: translate(130px, -90px) rotate(7deg);
  }
}
@keyframes ani16 {
  100% {
    transform: translate(180px, -77px) rotate(10deg);
  }
}
@keyframes ani17 {
  100% {
    transform: translate(230px, -60px) rotate(13deg);
  }
}
@keyframes ani18 {
  100% {
    transform: translate(280px, -40px) rotate(16deg);
  }
}
@keyframes ani19 {
  100% {
    transform: translate(330px, -15px) rotate(19deg);
  }
}
@keyframes ani20 {
  100% {
    transform: translate(380px, 15px) rotate(22deg);
  }
}
@keyframes ani21 {
  100% {
    transform: translate(430px, 50px) rotate(25deg);
  }
}

.card {
  &.card-num0 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani0 0.8s ease forwards;
    animation-delay: 0.3s, 1.8s;
  }
  &.card-num1 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani1 0.8s ease forwards;
    animation-delay: 0.3s, 1.85s;
  }
  &.card-num2 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani2 0.8s ease forwards;
    animation-delay: 0.3s, 1.9s;
  }
  &.card-num3 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani3 0.8s ease forwards;
    animation-delay: 0.3s, 1.95s;
  }
  &.card-num4 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani4 0.8s ease forwards;
    animation-delay: 0.3s, 2s;
  }
  &.card-num5 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani5 0.8s ease forwards;
    animation-delay: 0.3s, 2.05s;
  }
  &.card-num6 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani6 0.8s ease forwards;
    animation-delay: 0.3s, 2.1s;
  }
  &.card-num7 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani7 0.8s ease forwards;
    animation-delay: 0.3s, 2.15s;
  }
  &.card-num8 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani8 0.8s ease forwards;
    animation-delay: 0.3s, 2.2s;
  }
  &.card-num9 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani9 0.8s ease forwards;
    animation-delay: 0.3s, 2.25s;
  }
  &.card-num10 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani10 0.8s ease forwards;
    animation-delay: 0.3s, 2.3s;
  }
  &.card-num11 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani11 0.8s ease forwards;
    animation-delay: 0.3s, 2.35s;
  }
  &.card-num12 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani12 0.8s ease forwards;
    animation-delay: 0.3s, 2.4s;
  }
  &.card-num13 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani13 0.8s ease forwards;
    animation-delay: 0.3s, 2.45s;
  }
  &.card-num14 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani14 0.8s ease forwards;
    animation-delay: 0.3s, 2.5s;
  }
  &.card-num15 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani15 0.8s ease forwards;
    animation-delay: 0.3s, 2.55s;
  }
  &.card-num16 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani16 0.8s ease forwards;
    animation-delay: 0.3s, 2.6s;
  }
  &.card-num17 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani17 0.8s ease forwards;
    animation-delay: 0.3s, 2.65s;
  }
  &.card-num18 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani18 0.8s ease forwards;
    animation-delay: 0.3s, 2.7s;
  }
  &.card-num19 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani19 0.8s ease forwards;
    animation-delay: 0.3s, 2.75s;
  }
  &.card-num20 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani20 0.8s ease forwards;
    animation-delay: 0.3s, 2.8s;
  }
  &.card-num21 {
    animation: moveLeftBig 1.5s 0.3s ease forwards, ani21 0.8s ease forwards;
    animation-delay: 0.3s, 2.85s;
  }
}
