.card-list {
  position: relative;
}

.taro-animation-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes moveLeftBig {
  0% {
    transform: translate(-50%, -50%);
    width: 210px;
    height: 325px;
  }
  100% {
    transform: translate(-620px, 30px) rotate(-25deg);
    width: 170px;
    height: 265px;
  }
}

.card {
  position: absolute;
  width: 210px;
  height: 325px;
  perspective: 1000px;
  cursor: pointer;
  top: 48%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  z-index: 1;
  animation: moveLeftBig 1.5s 0.3s ease forwards;
  transition: all 0.2s ease;
  animation-fill-mode: forwards;
  border-radius: 6px;

  &.click-card {
    &:not(.selected-card) {
      transition: opacity 0.5s ease;
      opacity: 0;
    }

    &.selected-card {
      transform: translate(-50%, -45%) !important;
      width: 235px !important;
      height: 359px !important;
    }
  }
}

.enable-hover {
  transition: all 0.2s ease;
  top: 0;
  left: 0;

  &:hover {
    transition: all 0.2s ease;
    top: -60px;
  }
  &.card-num0 {
    &:hover {
      left: -27px;
    }
  }
  &.card-num1 {
    &:hover {
      left: -25px;
    }
  }
  &.card-num2 {
    &:hover {
      left: -20px;
    }
  }
  &.card-num3 {
    &:hover {
      left: -18px;
    }
  }
  &.card-num4 {
    &:hover {
      left: -14px;
    }
  }
  &.card-num5 {
    &:hover {
      left: -11px;
    }
  }
  &.card-num6 {
    &:hover {
      left: -8px;
    }
  }
  &.card-num7 {
    &:hover {
      left: -4px;
    }
  }
  &.card-num8 {
    &:hover {
      left: -2px;
    }
  }
  &.card-num13 {
    &:hover {
      left: 2px;
    }
  }
  &.card-num14 {
    &:hover {
      left: 4px;
    }
  }
  &.card-num15 {
    &:hover {
      left: 7px;
    }
  }
  &.card-num16 {
    &:hover {
      left: 10px;
    }
  }
  &.card-num17 {
    &:hover {
      left: 14px;
    }
  }
  &.card-num18 {
    &:hover {
      left: 17px;
    }
  }
  &.card-num19 {
    &:hover {
      left: 21px;
    }
  }
  &.card-num20 {
    &:hover {
      left: 24px;
    }
  }
  &.card-num21 {
    &:hover {
      left: 28px;
    }
  }
}

.enable-hover > .card-inner > .card-back {
  box-shadow: none;
  transform: rotate(0deg) rotateY(180deg);
  transition: all 0.2s ease;
}

.enable-hover:hover > .card-inner > .card-back {
  box-shadow: 0px 0px 10px 10px #bb2aff76;
  transform: rotate(0deg) rotateY(180deg);
  transition: all 0.2s ease;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(0deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 6px;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

@keyframes ani0 {
  100% {
    transform: translate(-620px, 50px) rotate(-25deg);
  }
}
@keyframes ani1 {
  100% {
    transform: translate(-570px, 15px) rotate(-22deg);
  }
}
@keyframes ani2 {
  100% {
    transform: translate(-520px, -15px) rotate(-19deg);
  }
}
@keyframes ani3 {
  100% {
    transform: translate(-470px, -40px) rotate(-16deg);
  }
}
@keyframes ani4 {
  100% {
    transform: translate(-420px, -60px) rotate(-13deg);
  }
}
@keyframes ani5 {
  100% {
    transform: translate(-370px, -77px) rotate(-10deg);
  }
}
@keyframes ani6 {
  100% {
    transform: translate(-320px, -90px) rotate(-7deg);
  }
}
@keyframes ani7 {
  100% {
    transform: translate(-270px, -100px) rotate(-4deg);
  }
}
@keyframes ani8 {
  100% {
    transform: translate(-220px, -107px) rotate(-2deg);
  }
}
@keyframes ani9 {
  100% {
    transform: translate(-170px, -110px) rotate(-1deg);
  }
}
@keyframes ani10 {
  100% {
    transform: translate(-120px, -113px) rotate(0deg);
  }
}
@keyframes ani11 {
  100% {
    transform: translate(-70px, -114px) rotate(0deg);
  }
}
@keyframes ani12 {
  100% {
    transform: translate(-20px, -110px) rotate(1deg);
  }
}
@keyframes ani13 {
  100% {
    transform: translate(30px, -107px) rotate(2deg);
  }
}
@keyframes ani14 {
  100% {
    transform: translate(80px, -100px) rotate(4deg);
  }
}
@keyframes ani15 {
  100% {
    transform: translate(130px, -90px) rotate(7deg);
  }
}
@keyframes ani16 {
  100% {
    transform: translate(180px, -77px) rotate(10deg);
  }
}
@keyframes ani17 {
  100% {
    transform: translate(230px, -60px) rotate(13deg);
  }
}
@keyframes ani18 {
  100% {
    transform: translate(280px, -40px) rotate(16deg);
  }
}
@keyframes ani19 {
  100% {
    transform: translate(330px, -15px) rotate(19deg);
  }
}
@keyframes ani20 {
  100% {
    transform: translate(380px, 15px) rotate(22deg);
  }
}
@keyframes ani21 {
  100% {
    transform: translate(430px, 50px) rotate(25deg);
  }
}

.card:nth-child(1) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani0 0.8s ease forwards;
  animation-delay: 0.3s, 1.8s;
}
.card:nth-child(2) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani1 0.8s ease forwards;
  animation-delay: 0.3s, 1.85s;
}
.card:nth-child(3) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani2 0.8s ease forwards;
  animation-delay: 0.3s, 1.9s;
}
.card:nth-child(4) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani3 0.8s ease forwards;
  animation-delay: 0.3s, 1.95s;
}
.card:nth-child(5) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani4 0.8s ease forwards;
  animation-delay: 0.3s, 2s;
}
.card:nth-child(6) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani5 0.8s ease forwards;
  animation-delay: 0.3s, 2.05s;
}
.card:nth-child(7) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani6 0.8s ease forwards;
  animation-delay: 0.3s, 2.1s;
}
.card:nth-child(8) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani7 0.8s ease forwards;
  animation-delay: 0.3s, 2.15s;
}
.card:nth-child(9) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani8 0.8s ease forwards;
  animation-delay: 0.3s, 2.2s;
}
.card:nth-child(10) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani9 0.8s ease forwards;
  animation-delay: 0.3s, 2.25s;
}
.card:nth-child(11) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani10 0.8s ease forwards;
  animation-delay: 0.3s, 2.3s;
}
.card:nth-child(12) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani11 0.8s ease forwards;
  animation-delay: 0.3s, 2.35s;
}
.card:nth-child(13) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani12 0.8s ease forwards;
  animation-delay: 0.3s, 2.4s;
}
.card:nth-child(14) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani13 0.8s ease forwards;
  animation-delay: 0.3s, 2.45s;
}
.card:nth-child(15) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani14 0.8s ease forwards;
  animation-delay: 0.3s, 2.5s;
}
.card:nth-child(16) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani15 0.8s ease forwards;
  animation-delay: 0.3s, 2.55s;
}
.card:nth-child(17) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani16 0.8s ease forwards;
  animation-delay: 0.3s, 2.6s;
}
.card:nth-child(18) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani17 0.8s ease forwards;
  animation-delay: 0.3s, 2.65s;
}
.card:nth-child(19) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani18 0.8s ease forwards;
  animation-delay: 0.3s, 2.7s;
}
.card:nth-child(20) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani19 0.8s ease forwards;
  animation-delay: 0.3s, 2.75s;
}
.card:nth-child(21) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani20 0.8s ease forwards;
  animation-delay: 0.3s, 2.8s;
}
.card:nth-child(22) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani21 0.8s ease forwards;
  animation-delay: 0.3s, 2.85s;
}
