.taro-animation-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@keyframes moveLeftBig {
  0% {
    transform: translate(-50%, -50%);
    width: 210px;
    height: 325px;
  }
  100% {
    transform: translate(-620px, 30px) rotate(-25deg);
    width: 170px;
    height: 265px;
  }
}

.card {
  position: absolute;
  width: 210px;
  height: 325px;
  perspective: 1000px;
  cursor: pointer;
  top: 48%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  z-index: 1;
  animation: moveLeftBig 1.5s 0.3s ease forwards;
  transition: all 0.2s ease;
  animation-fill-mode: forwards;
  border-radius: 6px;
}

.enable-hover {
  transition: all 0.2s ease;
}

.enable-hover:hover {
  box-shadow: 0px 0px 10px 10px #bb2aff76;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  transform: rotateY(180deg);
}

.card.flipped .card-inner {
  transform: rotateY(0deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  border-radius: 6px;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}

@keyframes ani0 {
  100% {
    transform: translate(-620px, 30px) rotate(-25deg);
  }
}
@keyframes ani1 {
  100% {
    transform: translate(-570px, -5px) rotate(-22deg);
  }
}
@keyframes ani2 {
  100% {
    transform: translate(-520px, -35px) rotate(-19deg);
  }
}
@keyframes ani3 {
  100% {
    transform: translate(-470px, -60px) rotate(-16deg);
  }
}
@keyframes ani4 {
  100% {
    transform: translate(-420px, -80px) rotate(-13deg);
  }
}
@keyframes ani5 {
  100% {
    transform: translate(-370px, -97px) rotate(-10deg);
  }
}
@keyframes ani6 {
  100% {
    transform: translate(-320px, -110px) rotate(-7deg);
  }
}
@keyframes ani7 {
  100% {
    transform: translate(-270px, -120px) rotate(-4deg);
  }
}
@keyframes ani8 {
  100% {
    transform: translate(-220px, -127px) rotate(-2deg);
  }
}
@keyframes ani9 {
  100% {
    transform: translate(-170px, -130px) rotate(-1deg);
  }
}
@keyframes ani10 {
  100% {
    transform: translate(-120px, -133px) rotate(0deg);
  }
}
@keyframes ani11 {
  100% {
    transform: translate(-70px, -134px) rotate(0deg);
  }
}
@keyframes ani12 {
  100% {
    transform: translate(-20px, -130px) rotate(1deg);
  }
}
@keyframes ani13 {
  100% {
    transform: translate(30px, -127px) rotate(2deg);
  }
}
@keyframes ani14 {
  100% {
    transform: translate(80px, -120px) rotate(4deg);
  }
}
@keyframes ani15 {
  100% {
    transform: translate(130px, -110px) rotate(7deg);
  }
}
@keyframes ani16 {
  100% {
    transform: translate(180px, -97px) rotate(10deg);
  }
}
@keyframes ani17 {
  100% {
    transform: translate(230px, -80px) rotate(13deg);
  }
}
@keyframes ani18 {
  100% {
    transform: translate(280px, -60px) rotate(16deg);
  }
}
@keyframes ani19 {
  100% {
    transform: translate(330px, -35px) rotate(19deg);
  }
}
@keyframes ani20 {
  100% {
    transform: translate(380px, -5px) rotate(22deg);
  }
}
@keyframes ani21 {
  100% {
    transform: translate(430px, 30px) rotate(25deg);
  }
}

.enable-hover:nth-child(1):hover {
  transform: translate(-652px, -40px) rotate(-25deg) !important;
}
.enable-hover:nth-child(2):hover {
  transform: translate(-598px, -75px) rotate(-22deg) !important;
}
.enable-hover:nth-child(3):hover {
  transform: translate(-544px, -105px) rotate(-19deg) !important;
}
.enable-hover:nth-child(4):hover {
  transform: translate(-490px, -130px) rotate(-16deg) !important;
}
.enable-hover:nth-child(5):hover {
  transform: translate(-436px, -150px) rotate(-13deg) !important;
}
.enable-hover:nth-child(6):hover {
  transform: translate(-382px, -167px) rotate(-10deg) !important;
}
.enable-hover:nth-child(7):hover {
  transform: translate(-328px, -180px) rotate(-7deg) !important;
}
.enable-hover:nth-child(8):hover {
  transform: translate(-274px, -190px) rotate(-4deg) !important;
}
.enable-hover:nth-child(9):hover {
  transform: translate(-222px, -197px) rotate(-2deg) !important;
}
.enable-hover:nth-child(10):hover {
  transform: translate(-171px, -200px) rotate(-1deg) !important;
}
.enable-hover:nth-child(11):hover {
  transform: translate(-120px, -203px) rotate(0deg) !important;
}
.enable-hover:nth-child(12):hover {
  transform: translate(-70px, -204px) rotate(0deg) !important;
}
.enable-hover:nth-child(13):hover {
  transform: translate(-19px, -200px) rotate(1deg) !important;
}
.enable-hover:nth-child(14):hover {
  transform: translate(33px, -197px) rotate(2deg) !important;
}
.enable-hover:nth-child(15):hover {
  transform: translate(85px, -190px) rotate(4deg) !important;
}
.enable-hover:nth-child(16):hover {
  transform: translate(138px, -180px) rotate(7deg) !important;
}
.enable-hover:nth-child(17):hover {
  transform: translate(193px, -167px) rotate(10deg) !important;
}
.enable-hover:nth-child(18):hover {
  transform: translate(246px, -150px) rotate(13deg) !important;
}
.enable-hover:nth-child(19):hover {
  transform: translate(299px, -130px) rotate(16deg) !important;
}
.enable-hover:nth-child(20):hover {
  transform: translate(353px, -105px) rotate(19deg) !important;
}
.enable-hover:nth-child(21):hover {
  transform: translate(408px, -75px) rotate(22deg) !important;
}
.enable-hover:nth-child(22):hover {
  transform: translate(462px, -40px) rotate(25deg) !important;
}

.card:nth-child(1) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani0 0.8s ease forwards;
  animation-delay: 0.3s, 1.8s;
}
.card:nth-child(2) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani1 0.8s ease forwards;
  animation-delay: 0.3s, 1.85s;
}
.card:nth-child(3) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani2 0.8s ease forwards;
  animation-delay: 0.3s, 1.9s;
}
.card:nth-child(4) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani3 0.8s ease forwards;
  animation-delay: 0.3s, 1.95s;
}
.card:nth-child(5) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani4 0.8s ease forwards;
  animation-delay: 0.3s, 2s;
}
.card:nth-child(6) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani5 0.8s ease forwards;
  animation-delay: 0.3s, 2.05s;
}
.card:nth-child(7) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani6 0.8s ease forwards;
  animation-delay: 0.3s, 2.1s;
}
.card:nth-child(8) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani7 0.8s ease forwards;
  animation-delay: 0.3s, 2.15s;
}
.card:nth-child(9) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani8 0.8s ease forwards;
  animation-delay: 0.3s, 2.2s;
}
.card:nth-child(10) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani9 0.8s ease forwards;
  animation-delay: 0.3s, 2.25s;
}
.card:nth-child(11) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani10 0.8s ease forwards;
  animation-delay: 0.3s, 2.3s;
}
.card:nth-child(12) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani11 0.8s ease forwards;
  animation-delay: 0.3s, 2.35s;
}
.card:nth-child(13) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani12 0.8s ease forwards;
  animation-delay: 0.3s, 2.4s;
}
.card:nth-child(14) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani13 0.8s ease forwards;
  animation-delay: 0.3s, 2.45s;
}
.card:nth-child(15) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani14 0.8s ease forwards;
  animation-delay: 0.3s, 2.5s;
}
.card:nth-child(16) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani15 0.8s ease forwards;
  animation-delay: 0.3s, 2.55s;
}
.card:nth-child(17) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani16 0.8s ease forwards;
  animation-delay: 0.3s, 2.6s;
}
.card:nth-child(18) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani17 0.8s ease forwards;
  animation-delay: 0.3s, 2.65s;
}
.card:nth-child(19) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani18 0.8s ease forwards;
  animation-delay: 0.3s, 2.7s;
}
.card:nth-child(20) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani19 0.8s ease forwards;
  animation-delay: 0.3s, 2.75s;
}
.card:nth-child(21) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani20 0.8s ease forwards;
  animation-delay: 0.3s, 2.8s;
}
.card:nth-child(22) {
  animation: moveLeftBig 1.5s 0.3s ease forwards, ani21 0.8s ease forwards;
  animation-delay: 0.3s, 2.85s;
}
