@keyframes moveContent {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-60%);
  }
}

.moveContent {
  position: absolute;
  animation: moveContent 2.5s 1s ease-in-out forwards;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fortune {
  opacity: 0;
  animation: fadeInText 1s ease forwards;
  animation-delay: 2.5s;
}

.weather-animation-container {
  display: grid;
  place-items: center;
}
