.jua-regular {
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: #00000059;
  opacity: 1;
}
.weather-animation-container {
  opacity: 0;
}
.result-sharing-content {
  opacity: 0;
}

@keyframes fadetest {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.fade-out {
  transition: all 0.5s;
  opacity: 0;
}
.fade-in {
  transition: all 3s;
  opacity: 1;
}

.fade-in2 {
  animation-name: fadetest;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.weather-info-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;

  border: none;
  border-radius: 4px;
  padding: 30px;

  width: 25%;

  background-color: #a4cce9;
}

.city-input {
  text-align: center;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 2px;
  font-size: 15px;
  color: #000;
}

.submit-button {
  display: grid;
  place-content: center;
  height: 50px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  padding-top: 5px;
  background-color: #3eaaf7;
  transition: 0.3s ease;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(27, 157, 251);
}
